
<div id="search-wrap" class="wrap-top search-wrap">
  <div class="width-search-box">
    <ul class="clearfix">
      <li ><i class="fa fa-search"></i> <input type='search' placeholder="Upload your CV"></li>
      <li id="li-3"> <i class="fa fa-search"></i> </li>
      <li id="li-4"> <i class="fa fa-times"></i> </li>
    </ul>
    <input id="cv_box" type='file' style="display: none">
  </div>
</div>

<div id="tags-wrap" class="wrap-top tags-wrap">
  <div class="width">
    <ul class="clearfix">
      <li>tag#1</li>
      <li>tag#2</li>

    </ul>
    <div id="search-results"></div>
  </div>
</div>

<div id="search-results-box">
  <div class="looper">
    <div class="clear-elements">
      <div class="row">
        <div class="job-title">
          job-title
          <div class="job-location">
            job-location
          </div>
        </div>
        <div class="job-posted-date">
          job-posted-date
          <div class="job-category">
            job-category
          </div>
        </div>
      </div>

      <div class="job-skill">
       <div class="job-simple-description">
       </div>
       <div class="job-type">
       </div>
      </div>
      <div class="row">
        <div class="job-salary">

        </div>

        <div class="view-details">
          <button mat-raised-button (click)="onClickEvent($event)" color="primary">View Details</button>
        </div>
      </div>
    </div>
  </div>

</div>


