
<div id="search-wrap" class="wrap-top search-wrap">
  <div class="width-search-box">
    <ul class="clearfix">
      <li ><i class="fa fa-search"></i> <input type='search' placeholder="Search Movie or TV Series"></li>
      <li id="li-3" (click)="searchMovie($event)"> <i class="fa fa-search"></i> </li>
      <li id="li-4"> <i class="fa fa-times"></i> </li>
    </ul>
    <input id="cv_box" type='file' style="display: none;">
  </div>
</div>
<div id="search-results-box">
  <div *ngFor="let result of results" class="looper">
    <div class="clear-elements">
      <div class="row">
        <div class="job-title">
          {{result.title}}
        </div>
        <div class="job-posted-date">
          {{result.year}}
          <div class="job-category">
            {{result.type}}
          </div>
        </div>
        <div class="view-details">
          <button mat-raised-button (click)="onClickEvent($event)" color="primary">Watch Now</button>
        </div>
      </div>
    </div>
  </div>

</div>

