<div class="modal-newsletter">
  <div id="newspaper_content" mat-dialog-content>
    <h4 mat-dialog-title>Subscribe to our monthly newsletter</h4>
    <mat-icon color="warn" class="icon-box">email</mat-icon>
    <p>Join our subscriber's list to get the latest updates and articles delivered directly in your inbox.</p>
    <form>
      <div class="newsletter-form-field">
        <mat-form-field class="newsletter-input">
          <mat-label>Email</mat-label>

        </mat-form-field>
      </div>
    </form>
  </div>
  <div>
    <button id="trigger_button" mat-raised-button color="primary">Subscribe</button>
    <button id="close_button" mat-raised-button color="primary">Subscribe</button>
  </div>
</div>

