<div id="nav-wrap" class="wrap-top nav-wrap">
  <div class="width">
    <ul class="clearfix">
      <li (click)='buttonOnClick("NEWS", "NEWS")'>NEWS<span>New information</span></li>
      <li (click)='buttonOnClick("Skills", "Skills")'>Skills<span>Skill development</span></li>
      <li (click)='buttonOnClick("Application", "Application")'>Application<span>Automated Job Finder</span></li>
      <li (click)='buttonOnClick("Shop", "Shop")'>Shop<span>World Market</span></li>
      <li (click)='buttonOnClick("Research", "Research")'>Research<span>New developments</span></li>
      <li (click)='buttonOnClick("About", "About")'>About<span>About us</span></li>
    </ul>

  </div>
</div>
