<app-menu-bar (selectedmenu)="componentSelector($event)"></app-menu-bar>
<app-notifications-boxes *ngIf="notification"
                         [notificationdictionary]="notificationdictionary"></app-notifications-boxes>
<app-detail-panel *ngIf="!deeperror && details" [event]="displayableDataset"></app-detail-panel>
<app-job-search (eventClicked)="seeJobData($event)" *ngIf="!deeperror && searchjobs"></app-job-search>
<app-error-handler *ngIf="deeperror" [errordictionary]="errordictionary"></app-error-handler>
<app-movie-watch *ngIf="watchmovies" (eventClicked)="searchMovie($event)"></app-movie-watch>

