<div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">{{errorcode}}</span>
  <div class="text">
    <span class="hero-text"></span>
    <span class="msg">{{errormessage}}<span id="seprator">can't let <span>you</span> in.</span></span>
    <span class="support">
      <span>unexpected?</span>
      <a (click)="reportIssue()">contact support</a>
    </span>
  </div>
  <div class="lock"></div>
</div>
