/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*CLEARFIX*/
.clearfix:after {content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {	display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

/*CSS RESET*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/*GLOBALS*/
a{text-decoration:none;	}
body, hmtl{background: #2c3e50; font-family: 'Anton', sans-serif;}


/*WRAPPERS*/
#fixed{
  position:fixed;
  z-index:1000;
  width:100%;
  top:0;
}
.wrap-top{
  height:70px;
  width:100%;
  line-height:70px;
}

.wrap-top ul{
  position:relative;
  width:100%;
  height:100%;
}

.wrap-top ul li{
  float:left;
  list-style:none;
  text-align:center;
  text-transform:uppercase;
  font-size:1vw;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  height:100%;
}
.width{
  width:95%;
  height:100%;
  margin-left: 5%;
}
.width-search-box{
  width:50%;
  margin: 0 auto;
  height:100%;
}




/*SEARCH*/
#search-wrap{background:#253444;}

.search-wrap{margin-top:70px;}

#search-wrap ul li{
  width:75%;
  color:#3b5167;
  height:70px;
  border-right: 1px solid #3b5167 ;
}

#search-wrap ul li:first-child{
  border-left: 1px solid #3b5167 ;
  position:relative;
}

#search-wrap ul li:first-child i{
  position:absolute;
  top:23px;
  left:3.5%;
  color:#3b5167;
}
#search-wrap #li-3{width:15%; cursor:pointer; font-size:18px; color:#97a5b5;}
#search-wrap #li-4{	width:10%; cursor:pointer;}
#search-wrap #li-3:hover, #search-wrap #li-4:hover{	background:#2c3e50;	color:#fff;}

/*Input*/
#search-wrap input{
  text-align:left;
  width:100%;
  height:100%;
  border:none;
  outline:none;
  padding:4% 4% 4% 10%;
  background:none;
  color:#fff;
  font-size:36px;
  font-family: 'Anton', sans-serif;
}

#search-wrap input:focus{	background:#2c3e50;}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

#search-wrap input::-webkit-input-placeholder{ color:#3b5167; opacity:1;}
#search-wrap input:-moz-placeholder{color:#3b5167; opacity:1;}
#search-wrap input::-moz-placeholder{color:#3b5167; opacity:1;}
#search-wrap input:-ms-input-placeholder {color:#3b5167; opacity:1;}




/*NAV*/
.menu-mob{display:none !important;}
#nav-wrap{	background:#fff; line-height:64px;}

.nav-wrap.active, .nav-wrap.active li{	height:50px;	line-height:50px;}
.nav-wrap.active ul li#search-btn{	line-height:50px !important;}
.nav-wrap.active ul li:before{display:none;}
.nav-wrap.active ul li span{display:none;}

#nav-wrap ul li{
  width:15%;
  cursor:pointer;
  color:#3b5167;
  border-right: 1px solid #cad0d6 ;
  position:relative;
}

#nav-wrap ul li:first-child{border-left: 1px solid #cad0d6 ;}

#nav-wrap ul li#search-btn{
  width:10%;
  line-height:70px;
}

#nav-wrap ul li:hover,
#nav-wrap ul li.active {
  color:#FFF;
  background:#2c3e50;
}

/*sub*/
.nav-wrap ul li span{
  display:block;
  line-height:0;
  font-size:9px;
  position:relative;
  top:-12px;
  color:#415C76;
  font-family:Arial, sans serif;
}




/*TAGS*/
.tags-wrap{
  height:0px;
  background:#3b5167;
  overflow:hidden;
}

.tags-wrap.active{
  height:50px;
}

.tags-wrap ul li{
  font-size:12px;
  color:#707f91;
  background:#2c3e50;
  line-height:20px;
  height:auto;
  padding:2px 0;
  width:8%;
  margin:0 1%;
  font-family:Arial, sans serif;
  text-transform:lowercase;
  cursor:pointer;
  font-weight:bold;
  opacity:0.8;
}

.tags-wrap ul li:hover{
  opacity:1;
  color:#97a5b5;
}

#search-results{
  text-align:center;
  color:#fff;
  font-family:Arial, sans serif;
  height:50px;
  line-height:50px;
}

#search-results span{
  font-weight:bold;
}







/*CONTENT*/
#content-wrap{width:100%; margin-top:70px;}

h1, h2{
  color:#fff;
  text-align:center;

  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -o-transition:      all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  transition:         all 0.5s ease;
}

h1{	font-size:36px;}
h2{
  font-size:16px;
  margin:15px 0 0px;
  color:#97a5b5;
  font-family:Arial, sans-serif;
}

.row{
  width:100%;
  padding:50px 0px;
  font-size:18px;
  color:#999;
  position:relative;
  height:180px;
}

.row.active, h2 span{color:#fff;}
.row.active{background:#3c3c3c;}

#first-row{height:auto; position:relative;}
#first-row i{
  position:absolute;
  left:50%;
  margin-left:-12px;
  bottom:-20px;
  z-index:100;
}

#first-row i.active{
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.row ul{
  display:block;
  width:185px;
  margin: 0 auto;
}

.row li{
  color:#fff;
  font-family:Arial, sans serif;
  margin-bottom:20px;
}

.row .fa{
  color:#97a5b5;

}




/*ANIMATION*/
.search-wrap, .tags-wrap, .nav-wrap, #first-row i{
  -webkit-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
  -moz-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
  transition: all 0.3s cubic-bezier(0, .68, .07, 1);
  -ms-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
}

/*scale down*/
h1, h2{
  -moz-transform: scale(0);
  -webkit-transform:  scale(0);
  -o-transform:  scale(0);
  -ms-transform: scale(0);
  transform:  scale(0);
  opacity:0;
}

/*animation active*/
h1.animationActive, h2.animationActive {
  -moz-transform: scale(1);
  -webkit-transform:  scale(1);
  -o-transform:  scale(1);
  -ms-transform: scale(1);
  transform:  scale(1);
  opacity:1;
}



/*RESPONSIVE*/
@media screen and (max-width: 500px){

  /*NAV*/
  .width{position:relative;}
  .menu-mob{
    display:block !important;
    position:absolute;
    left:0;
    top:0px;
    height:50px;
    width:15%;
    border-right: 1px solid #cad0d6 ;
    text-align:center;
    line-height:50px !important;
    color:#3b5167;
    cursor:pointer;
  }

  .menu-mob:hover, menu-mob.active{
    background:#2c3e50;
    color:#fff;
  }

  #nav-wrap ul li{
    width:100%;
    background:#1D2835;
    -webkit-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
    -moz-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
    transition: all 0.3s cubic-bezier(0, .68, .07, 1);
    -ms-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
    position:absolute;
    top:-2000px;
  }

  #nav-wrap ul li.mob{
    position:static;
  }

  #nav-wrap ul{	margin-top:50px;	height:auto;}
  #nav-wrap ul li#search-btn{
    position:absolute;
    right:0;
    width:15%;
    top:-50px;
    height:50px;
    line-height:50px;
    background:#fff;
    border-left: 1px solid #cad0d6 ;

  }
  #nav-wrap ul li#search-btn:hover{	background:#2c3e50;}
  .nav-wrap.active ul{	margin-top:50px !important;}
  .nav-wrap{height:50px;}

  /*SEARCH*/
  #search-wrap ul li:first-child{	width:60%; font-size: 11px}
  #search-wrap #li-3{width:25%;}
  #search-wrap #li-4{width:15%;}
  #search-wrap input{font-size:24px; padding: 4% 4% 4% 18%;}
  #search-results{line-height:100px;}

  /*TAGS*/
  .tags-wrap.active{
    height:100px;
  }
  .tags-wrap ul li{
    width: 30%;
    margin: 0 1.5%;
    margin-top: 6px;
    padding: 2px 0;
  }
}
#search-results-box{
  position: static;

}

.looper{
  margin-top: 1%;
  margin-left: 22%;
  height: auto;
  width: 55%;
  background: #fff;
  border-radius: 20px;
  align-self: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.clear-elements{
  padding: 0.1% 3% 0.1% 3%;
}

.job-title{
  font-weight: bold;
  color: brown;
  font-size: 250%;
}

.job-location{
  font-weight: bold;
  font-size: 15px;
  padding: 9% 9% 9% 9%;
}

.job-skill{
  font-weight: bold;
  font-size: 21px;
}
.row{
  display : inline-flex;
  height: 1%;
  flex-direction : row;
}

.job-posted-date{
  margin-left: auto;
  margin-right: 0;
  width: 20%;
  font-weight: bold;
  font-size: 90%;
}

.job-salary{
  margin-left: auto;
  margin-right: 0;
  font-weight: bold;
  font-size: 75%;

}

.job-category{
  font-weight: bold;
  font-size: 100%;
}

.view-details{
  margin-left: 5%;
  margin-right: 0;
  font-weight: bold;
  font-size: 100%;
}

