/* You can add global styles to this file, and also import other style files */

:root {
  --font-display: 'Sedgwick Ave Display';
  --font-sans-serif: 'IBM Plex Mono';
  --box-shadow: 0px 21px 34px 0px rgba(0, 0, 0, 0.89);
  --color-bg: linear-gradient(to bottom, rgba(35,37,38,1) 0%,rgba(32,38,40,1) 100%);
  --scene-width: 400px;
  --scene-height: 600px;
  --delay-base: 500ms;
  --delay-added: 100ms;
  --acc-back: cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

#seprator{
  margin-top: 5%;
}


html, body { height: 100%; }

body{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}


/*CLEARFIX*/
.clearfix:after {content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {	display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

/*CSS RESET*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/*GLOBALS*/
a{text-decoration:none;	}
body, hmtl{background: #2c3e50; font-family: 'Anton', sans-serif;}


/*WRAPPERS*/
#fixed{
  position:fixed;
  z-index:1000;
  width:100%;
  top:0;
}
.wrap-top{
  height:70px;
  width:100%;
  line-height:70px;
}

.wrap-top ul{
  position:relative;
  width:100%;
  height:100%;
}

.wrap-top ul li{
  float:left;
  list-style:none;
  text-align:center;
  text-transform:uppercase;
  font-size:1vw;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  height:100%;
}
.width{
  width:95%;
  height:100%;
  margin-left: 5%;
}
.width-search-box{
  width:50%;
  margin: 0 auto;
  height:100%;
}




/*SEARCH*/
#search-wrap{background:#253444;}

.search-wrap{margin-top:70px;}

#search-wrap ul li{
  width:75%;
  color:#3b5167;
  height:70px;
  border-right: 1px solid #3b5167 ;
}

#search-wrap ul li:first-child{
  border-left: 1px solid #3b5167 ;
  position:relative;
}

#search-wrap ul li:first-child i{
  position:absolute;
  top:23px;
  left:3.5%;
  color:#3b5167;
}
#search-wrap #li-3{width:15%; cursor:pointer; font-size:18px; color:#97a5b5;}
#search-wrap #li-4{	width:10%; cursor:pointer;}
#search-wrap #li-3:hover, #search-wrap #li-4:hover{	background:#2c3e50;	color:#fff;}

/*Input*/
#search-wrap input{
  text-align:left;
  width:100%;
  height:100%;
  border:none;
  outline:none;
  padding:4% 4% 4% 10%;
  background:none;
  color:#fff;
  font-size:36px;
  font-family: 'Anton', sans-serif;
}

#search-wrap input:focus{	background:#2c3e50;}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

#search-wrap input::-webkit-input-placeholder{ color:#3b5167; opacity:1;}
#search-wrap input:-moz-placeholder{color:#3b5167; opacity:1;}
#search-wrap input::-moz-placeholder{color:#3b5167; opacity:1;}
#search-wrap input:-ms-input-placeholder {color:#3b5167; opacity:1;}




/*NAV*/
.menu-mob{display:none !important;}
#nav-wrap{	background:#fff; line-height:64px;}

.nav-wrap.active, .nav-wrap.active li{	height:50px;	line-height:50px;}
.nav-wrap.active ul li#search-btn{	line-height:50px !important;}
.nav-wrap.active ul li:before{display:none;}
.nav-wrap.active ul li span{display:none;}

#nav-wrap ul li{
  width:15%;
  cursor:pointer;
  color:#3b5167;
  border-right: 1px solid #cad0d6 ;
  position:relative;
}

#nav-wrap ul li:first-child{border-left: 1px solid #cad0d6 ;}

#nav-wrap ul li#search-btn{
  width:10%;
  line-height:70px;
}

#nav-wrap ul li:hover,
#nav-wrap ul li.active {
  color:#FFF;
  background:#2c3e50;
}

/*sub*/
.nav-wrap ul li span{
  display:block;
  line-height:0;
  font-size:9px;
  position:relative;
  top:-12px;
  color:#415C76;
  font-family:Arial, sans serif;
}




/*TAGS*/
.tags-wrap{
  height:0px;
  background:#3b5167;
  overflow:hidden;
}

.tags-wrap.active{
  height:50px;
}

.tags-wrap ul li{
  font-size:12px;
  color:#707f91;
  background:#2c3e50;
  line-height:20px;
  height:auto;
  padding:2px 0;
  width:8%;
  margin:0 1%;
  font-family:Arial, sans serif;
  text-transform:lowercase;
  cursor:pointer;
  font-weight:bold;
  opacity:0.8;
}

.tags-wrap ul li:hover{
  opacity:1;
  color:#97a5b5;
}

#search-results{
  text-align:center;
  color:#fff;
  font-family:Arial, sans serif;
  height:50px;
  line-height:50px;
}

#search-results span{
  font-weight:bold;
}







/*CONTENT*/
#content-wrap{width:100%; margin-top:70px;}

h1, h2{
  color:#fff;
  text-align:center;

  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -o-transition:      all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  transition:         all 0.5s ease;
}

h1{	font-size:36px;}
h2{
  font-size:16px;
  margin:15px 0 0px;
  color:#97a5b5;
  font-family:Arial, sans-serif;
}

.row{
  width:100%;
  padding:50px 0px;
  font-size:18px;
  color:#999;
  position:relative;
  height:180px;
}

.row.active, h2 span{color:#fff;}
.row.active{background:#3c3c3c;}

#first-row{height:auto; position:relative;}
#first-row i{
  position:absolute;
  left:50%;
  margin-left:-12px;
  bottom:-20px;
  z-index:100;
}

#first-row i.active{
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.row ul{
  display:block;
  width:185px;
  margin: 0 auto;
}

.row li{
  color:#fff;
  font-family:Arial, sans serif;
  margin-bottom:20px;
}

.row .fa{
  color:#97a5b5;

}




/*ANIMATION*/
.search-wrap, .tags-wrap, .nav-wrap, #first-row i{
  -webkit-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
  -moz-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
  transition: all 0.3s cubic-bezier(0, .68, .07, 1);
  -ms-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
}

/*scale down*/
h1, h2{
  -moz-transform: scale(0);
  -webkit-transform:  scale(0);
  -o-transform:  scale(0);
  -ms-transform: scale(0);
  transform:  scale(0);
  opacity:0;
}

/*animation active*/
h1.animationActive, h2.animationActive {
  -moz-transform: scale(1);
  -webkit-transform:  scale(1);
  -o-transform:  scale(1);
  -ms-transform: scale(1);
  transform:  scale(1);
  opacity:1;
}



/*RESPONSIVE*/
@media screen and (max-width: 500px){

  /*NAV*/
  .width{position:relative;}
  .menu-mob{
    display:block !important;
    position:absolute;
    left:0;
    top:0px;
    height:50px;
    width:15%;
    border-right: 1px solid #cad0d6 ;
    text-align:center;
    line-height:50px !important;
    color:#3b5167;
    cursor:pointer;
  }

  .menu-mob:hover, menu-mob.active{
    background:#2c3e50;
    color:#fff;
  }

  #nav-wrap ul li{
    width:100%;
    background:#1D2835;
    -webkit-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
    -moz-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
    transition: all 0.3s cubic-bezier(0, .68, .07, 1);
    -ms-transition: all 0.3s cubic-bezier(0, .68, .07, 1);
    position:absolute;
    top:-2000px;
  }

  #nav-wrap ul li.mob{
    position:static;
  }

  #nav-wrap ul{	margin-top:50px;	height:auto;}
  #nav-wrap ul li#search-btn{
    position:absolute;
    right:0;
    width:15%;
    top:-50px;
    height:50px;
    line-height:50px;
    background:#fff;
    border-left: 1px solid #cad0d6 ;

  }
  #nav-wrap ul li#search-btn:hover{	background:#2c3e50;}
  .nav-wrap.active ul{	margin-top:50px !important;}
  .nav-wrap{height:50px;}

  /*SEARCH*/
  #search-wrap ul li:first-child{	width:60%; font-size: 11px}
  #search-wrap #li-3{width:25%;}
  #search-wrap #li-4{width:15%;}
  #search-wrap input{font-size:24px; padding: 4% 4% 4% 18%;}
  #search-results{line-height:100px;}

  /*TAGS*/
  .tags-wrap.active{
    height:100px;
  }
  .tags-wrap ul li{
    width: 30%;
    margin: 0 1.5%;
    margin-top: 6px;
    padding: 2px 0;
  }
}
#search-results-box{
  position: static;

}

.looper{
  margin-top: 1%;
  margin-left: 22%;
  height: auto;
  width: 55%;
  background: #fff;
  border-radius: 20px;
  align-self: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.clear-elements{
  padding: 0.1% 3% 0.1% 3%;
}

.job-title{
  font-weight: bold;
  color: brown;
  font-size: 250%;
}

.job-location{
  font-weight: bold;
  font-size: 15px;
  padding: 9% 9% 9% 9%;
}

.job-skill{
  font-weight: bold;
  font-size: 21px;
}
.row{
  display : inline-flex;
  height: 1%;
  flex-direction : row;
}

.job-posted-date{
  margin-left: auto;
  margin-right: 0;
  width: 20%;
  font-weight: bold;
  font-size: 90%;
}

.job-salary{
  margin-left: auto;
  margin-right: 0;
  font-weight: bold;
  font-size: 75%;

}

.job-category{
  font-weight: bold;
  font-size: 100%;
}

.view-details{
  margin-left: 5%;
  margin-right: 0;
  font-weight: bold;
  font-size: 100%;
}

*,
*:before,
*:after{
  box-sizing:border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}


.scene{
  margin-left: 40%;
  margin-top: 10%;
  position: relative;
  width: var(--scene-width);
  height: var(--scene-height);
  transition: transform 600ms var(--acc-back);
  display: flex;
  align-items: center;
}

.scene:hover{
  transform: scale(.98) skewY(-1deg);
}

.scene > *{
  transition: transform 600ms var(--acc-back);
}

.text{
  transition: transform 600ms var(--acc-back), opacity 100ms ease-in;
  height: inherit;
  width: 100%;
  z-index: 7;
  position: relative;
  pointer-events: none;
}

.scene:hover .text{
  opacity: 1;
  transform: scale(.91);
}

@keyframes popInImg{
  0%{
    transform: skewY(5deg) scaleX(.89) scaleY(.89);
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.text span{
  display: block;
  font-family: var(--font-sans-serif);
  text-align: center;
  text-shadow: var(--box-shadow);
  animation: popIn 600ms var(--acc-back) 1 forwards;
  opacity: 0;
}

@keyframes popIn{
  0%,13%{
    transform: scaleX(.89) scaleY(.75);
    opacity: 0;
  }
  100%{

    opacity: 1;
  }
}

.bg-403{
  font-size: 140px;
  font-family: var(--font-display);
  animation-delay: calc(var(--delay-base) + 2 * var(--delay-added));
  z-index: 0;
  background: linear-gradient(to top, rgba(32,38,40,0) 25%,rgba(49,57,61,1) 100%);
  -webkit-background-clip: text;
  transform: translateX(-25%) translateZ(-100px) skewY(-3deg);
  position: absolute;
  pointer-events: none;
  margin-left: 30%;
  margin-bottom: 50%;
  transition: transform 1200ms var(--acc-back);
  opacity: 0.1;
}

.msg{
  bottom: -38px; right: -21px;
  font-size: 34px;
  animation-delay: calc(var(--delay-base) + 3 * var(--delay-added));
  color: #8b8b8b;
  margin-top: 144px;
  letter-spacing: 2px;
}

.msg span{
  transform: skewX(-13deg);
  display: inline-block;
  color: #fff;
  letter-spacing: -1px;
}

.support{
  bottom: -50px; right: -21px;
  font-size: 21px;
  animation-delay: calc(var(--delay-base) + 4 * var(--delay-added));
  display: block;
  margin-top: 89px;
  color: #686a6b;
}

.support span{
  margin-bottom: 5px;
}

.support a{
  display: inline-block;
  color: #b2b3b4;
  text-decoration: none;
  pointer-events: initial;
}

.support a:after{
  content: '';
  width: 110%; margin-left: -5%;
  height: 5px;
  display: block;
  background: #fff;
  opacity: .55;
  margin-top: 13px;
  outline: 1px solid transparent;
}

.support a:hover:after{
  opacity: 1;
}

.support a:focus,
.support a:active{
  outline: none;
}

@media screen and (max-width: 539px){

}

.overlay{
  display: block;
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 50%;
  z-index: 1;
  transform: translateZ(34px);
}

.overlay:nth-of-type(1){
  left: 0;
  top: 0;
}

.overlay:nth-of-type(2){
  right: 0;
  top: 0;
}

.overlay:nth-of-type(3){
  bottom: 0;
  right: 0;
}

.overlay:nth-of-type(4){
  bottom: 0;
  left: 0;
}

.overlay:nth-of-type(1):hover ~ .lock,
.overlay:nth-of-type(1):focus ~ .lock{
  transform-origin: right top;
  transform:  translateY(-3px) translateX(5px) rotateX(-13deg) rotateY(3deg) rotateZ(-2deg) translateZ(0) scale(.89);
}

.overlay:nth-of-type(1):hover ~ .bg-403,
.overlay:nth-of-type(1):focus ~ .bg-403{
  transform: translateX(-27%) skewY(-3deg) rotateX(-13deg) rotateY(3deg) translateZ(-100px) scale(.89);
}

.overlay:nth-of-type(2):hover ~ .lock,
.overlay:nth-of-type(2):focus ~ .lock{
  transform-origin: left top;
  transform: translateY(-3px) translateX(5px) rotateX(13deg) rotateY(3deg) rotateZ(2deg) translateZ(0) scale(1.03);
}

.overlay:nth-of-type(2):hover ~ .bg-403,
.overlay:nth-of-type(2):focus ~ .bg-403{
  transform: translateX(-21%) skewY(-3deg) rotateX(13deg) rotateY(3deg) translateZ(-100px);
}

.overlay:nth-of-type(3):hover ~ .lock,
.overlay:nth-of-type(3):focus ~ .lock{
  transform-origin: left bottom;
  transform: translateY(3px) translateX(-5px) rotateX(-13deg) rotateY(3deg) rotateZ(-2deg) translateZ(3px) scale(.96);
}

.overlay:nth-of-type(3):hover ~ .bg-403,
.overlay:nth-of-type(3):focus ~ .bg-403{
  transform: translateX(-23%)  rotateX(-13deg) rotateY(3deg) translateZ(-100px);
}

.overlay:nth-of-type(4):hover ~ .lock,
.overlay:nth-of-type(4):focus ~ .lock{
  transform-origin: right bottom;
  transform: translateY(3px) translateX(5px) rotateX(-13deg) rotateY(-3deg) rotateZ(2deg) translateZ(0) scale(.89);
}

.overlay:nth-of-type(4):hover ~ .bg-403,
.overlay:nth-of-type(4):focus ~ .bg-403{
  transform: translateX(-19%) rotateX(-13deg) rotateY(-3deg) translateZ(-100px);
}

.lock{
  box-shadow: 32px 8px 0 0 #e4e4e4, 40px 8px 0 0 #e4e4e4, 48px 8px 0 0 #e4e4e4, 56px 8px 0 0 #e4e4e4, 24px 16px 0 0 #cbcbcb, 32px 16px 0 0 #cbcbcb, 40px 16px 0 0 #909090, 48px 16px 0 0 #909090, 56px 16px 0 0 #cbcbcb, 64px 16px 0 0 #e4e4e4, 16px 24px 0 0 #cbcbcb, 24px 24px 0 0 #cbcbcb, 32px 24px 0 0 #909090, 56px 24px 0 0 #909090, 64px 24px 0 0 #cbcbcb, 72px 24px 0 0 #e4e4e4, 16px 32px 0 0 #cbcbcb, 24px 32px 0 0 #909090, 64px 32px 0 0 #909090, 72px 32px 0 0 #cbcbcb, 16px 40px 0 0 #cbcbcb, 24px 40px 0 0 #909090, 64px 40px 0 0 #909090, 72px 40px 0 0 #cbcbcb, 16px 48px 0 0 #909090, 24px 48px 0 0 #909090, 64px 48px 0 0 #909090, 72px 48px 0 0 #909090, 8px 56px 0 0 #fbec79, 16px 56px 0 0 #fbec79, 24px 56px 0 0 #fbec79, 32px 56px 0 0 #fbec79, 40px 56px 0 0 #fbec79, 48px 56px 0 0 #fbec79, 56px 56px 0 0 #fbec79, 64px 56px 0 0 #fbec79, 72px 56px 0 0 #fbec79, 80px 56px 0 0 #fbec79, 8px 64px 0 0 #ffc107, 16px 64px 0 0 #ffc107, 24px 64px 0 0 #ffc107, 32px 64px 0 0 #ffc107, 40px 64px 0 0 #ffc107, 48px 64px 0 0 #ffc107, 56px 64px 0 0 #ffc107, 64px 64px 0 0 #ffc107, 72px 64px 0 0 #ffc107, 80px 64px 0 0 #ffc107, 8px 72px 0 0 #ffc107, 16px 72px 0 0 #ffc107, 24px 72px 0 0 #ffc107, 32px 72px 0 0 #ffc107, 40px 72px 0 0 #ffc107, 48px 72px 0 0 #ffc107, 56px 72px 0 0 #ffc107, 64px 72px 0 0 #ffc107, 72px 72px 0 0 #ffc107, 80px 72px 0 0 #ffc107, 8px 80px 0 0 #ff9800, 16px 80px 0 0 #ffc107, 24px 80px 0 0 #ffc107, 32px 80px 0 0 #ffc107, 40px 80px 0 0 #ffc107, 48px 80px 0 0 #ff9800, 56px 80px 0 0 #ff9800, 64px 80px 0 0 #ff9800, 72px 80px 0 0 #ff9800, 16px 88px 0 0 #ff9800, 24px 88px 0 0 #ff9800, 32px 88px 0 0 #ff9800, 40px 88px 0 0 #ff9800, 48px 88px 0 0 #ff9800, 56px 88px 0 0 #ff9800, 64px 88px 0 0 #ff9800, 72px 88px 0 0 #ff9800, 24px 96px 0 0 #ff9800, 32px 96px 0 0 #ff9800, 40px 96px 0 0 #ff9800, 48px 96px 0 0 #ff9800, 56px 96px 0 0 #ff9800, 64px 96px 0 0 #ff9800;
  height: 8px;
  width: 8px;
  position: absolute;
  left: calc(50% - 48px);
  top: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
  outline: 1px solid transparent;
}

.fa{
  line-height:30px;
  font-size:30px;
  display:inline-block;
  width:35px;
  height:35px;
}
.hidden{
  display:none;
}

input[type=checkbox] + label {
  position:relative;
}

input[type=checkbox]:checked + label {
  animation: closing 0.3s forwards ease-in-out,
  moving 0.3s forwards ease-in-out;
}
.pointer-cursor{
  cursor: pointer; cursor: hand;
}
.close{
  float:right;
  color: #b94b45;
  cursor: pointer; cursor: hand;
}

#basic_notification{
  margin-left: 25%;
  position: absolute;
  width: 50%;
}

.alert-message{
  background-color: #1D2835;
  border: 1px solid rgba(12,12,12,12);
  color: #b94b45;
  border-radius: 3px;
  line-height:30px;
  position: absolute;
  top: 0; left: 0;
  display:block;
  width:100%;
  padding: 12px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, .9);
  box-shadow: 0px 10px 50px rgba(0,0,0,.6);
}

@keyframes closing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes moving {
  0%, 90% { top: 0; left: 0; }
  100%  { top: -100px; left: 0; }
}

.modal-newsletter {
  z-index: 10;
  border-radius: 15px;
  margin-top: 10%;
  margin-left: 25%;
  height: auto;
  min-height: 40%;
  width: auto;
  min-width: 50%;
  font-size: 15px;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  background: #e4e4e4;
  color: black;
}
.modal-newsletter h4 {
  color: #000;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  text-align: center
}
.icon-box {
  font-size:80px;
  z-index: 9;
  text-align: center;
  margin: 10px 0;
}
.hint-text {
  margin: 100px auto;
  text-align: center;
}
.newsletter-form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}
.newsletter-input {
  flex-basis: 40%
}

#newspaper_content{
  margin-top: 5%;
}

#trigger_button{
  margin: auto 2% 2% auto;
  width: 10%;
}
#close_button{
  margin: auto 2% 2% auto;
  width: 10%;
}
